<form [formGroup]="formulario">

    <input type="number" class="form-control">
    <input type="text"   class="form-control">
    <input type="number" class="form-control">

    <input type="button" value="Cadastrar" class="btn btn-primary">
    <input type="button" value="Alterar"   class="btn btn-primary">
    <input type="button" value="Remover"   class="btn btn-primary">

    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Selecionar</th>
        </tr>
    </thead>

</form>